

     /* .contact1{
        
        min-height: 50vh;
        position: relative ;
        display: grid;
        
        align-items: center;
       
        
    }
    h1{
        text-align: center;
       
    }

    .contactinfo{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .containerinfo.contactinfo{
        width: 50%;
        display: flex;
        background: #fff;
        min-height:500px ;
        
    }*/

*{
    box-sizing: border-box;

}

.contact1{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact1.contact2{
    max-width: 800px;
    text-align: center;
}
.contact1.contact2 h1{
    font-weight: 500;
    text-align: center;
}
.containerinfo{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;

}
.contactinfo{
    width: 60%;
    display: flex;
    flex-direction: column;

    
    
}
.contactinfo .box{
    position: relative;
   padding: 20px 0;
   display: flex;
   cursor: pointer;

}
.contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}
.contactinfo .box:hover .icon{
    background: rgb(39, 100, 180);
    color: #fff;
}
.contactinfo .box  .text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;

}
.contactinfo .box  .text h3{
    font-weight: 500;
    color:rgb(39, 100, 180) ;
}
.contactinfo .txt{
    color: #fff;
    font-weight: 500;
    padding-left: 10px;
    border-left: 30px solid rgb(39, 100, 180) ;
    line-height: 1em;

}
.sci{
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
}
.sci li{
    list-style: none;
}

.sci li a{
    color: #fff;
    font-size: 2em;
    transition: 0.5s;

}

.sci li a:hover{
    color: rgb(39, 100, 180);
}

.contactform{
    position: relative;
    width: 50%;
    background: #fff;
    padding: 60px;
    min-height: 100px;
}
.contactform h2{
    font-size: 2em;
    color: #333;
    font-weight: 500;

}
.contactform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 20px;

}

.contactform .inputBox input
{
    width: 100%;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    border-bottom:2px solid #333;
    outline: none;
    resize: none;


}
.contactform .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    border-bottom:2px solid #333;
    outline: none;
    resize: none;

}
.contactform .inputBox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: #666;
    transition: 0.5s;
}
.contactform .inputBox input:focus~span,
.contactform .inputBox input:valid~span
{
    color: rgb(39, 100, 180);
    font: size 0.9em; 
    transform: translateY(-20px);

}
.contactform .inputBox textarea:focus~span,
.contactform .inputBox textarea:valid~span
{
    color: rgb(39, 100, 180);
    font: size 0.9em; ;
    transform: translateY(-20px);
}
.contactform .inputBox input[type="submit"]
{
    width: 100px;
    background:rgb(39, 100, 180) ;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font: size 1.1em;
    font-weight: 500;
}
.contactform .inputBox input[type="submit"]:hover{
    background-color: rgb(25, 26, 27);
    border-color: rgb(25, 26, 27);
}
@media(max-width:991px){
    .contact1{
        padding: 50px;
    }
    .containerinfo{
        flex-direction: column;
    }
    .contactinfo .contactinfo,
    .contactinfo .contactform{
        width: 100%;
    }
    .contactinfo .contactform{
        padding: 50px 30px;
    }
}


